@import '~antd/dist/antd.less';

@font-family: 'Roboto', 'Segoe UI', sans-serif;
@font-size-base: 14px;
@line-height-base: 22px;
@component-background: '#100E66';

//layouts
.userName {
  font-size: medium;
  font-weight: 600;
}
